%div#map_canvas
%div.container
	%ul
		-@friends.each do |friend|
			%li.lead.text-center
				=link_to("#{friend.username}", "/friends/#{friend.id}")

	%a.btn.btn-danger.btn-lg.btn-block{:href => '/friendships'}> See friendships


%script
	= "$(document).ready(function() {"
	= "showPlaces();"
	= "});"

%script
	= "$(document).ready(function () {"
	- @friends.each do |friend|
		= "add_marker(#{@friend.locations.last.latitude}, #{@friend.locations.last.longitude});"
		= "});"