%div#map_canvas.small-map
%div.container-fluid
	%h3 Your Friends:
	%ul
		-@friends.each do |friend|
			%li.lead.text-center
				=link_to("#{friend.username}", "/friends/#{friend.id}")

	%a.btn.btn-danger.btn-lg.btn-block.fixed-bottom{:href => '/friendships'}> See friendships


%script
	= "$(document).ready(function() {"
	= "showPlaces();"
	= "});"

%script
	= "var dropPins = function () {"
	- @friends.each do |friend|
		- location = friend.locations.last
		- if location != nil
			= "add_marker(#{location.latitude}, #{location.longitude});"
	= "};"
