/.Form to sign up

%h3.page-header.form-signup-heading Sign Up

= form_for @user, :class => "form-signin" do |f| 
  .input-group
    = f.label :username
    = f.text_field :username, :class => "form-control", :required => true, :autofocus => true
  .input-group
    = f.label :password
    = f.password_field :password, :class => "form-control", :required => true
  .input-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => "form-control", :required => true
  .input-group
    = f.label :profile_picture
    = f.text_field :profile_picture, :class => "form-control"
  .input-group
    = f.submit 'Sign Up', :class => "btn btn-lg btn-primary"

= button_to('Instagram', "https://api.instagram.com/oauth/authorize/?client_id=09064336ee50416792fe11b37ebb9241&redirect_uri=http://bero.herokuapp.com/users/new/&response_type=code", :class => "btn btn-lg btn-primary")