<% if flash[:notice] %>
	<div class="notice">
		<h3 class="page-header"><%= flash[:notice] %></h3>
	</div>
<% end %>

<!-- all user's friend -->
<h2 class="sub-header">Friends</h2>
<div class="table-responsive" id="user-friends">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>User</th>
				<th>Online</th>
				<th>Action</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @current_user.friendships.each do |friendship| %>
				<% if friendship.approved == true %>
					<tr>
						<td><%= friendship.friend.username %></td>
						<td><%= friendship.friend.is_online %></td>
						<td><%= friendship.approved %></td>
						<td><%= link_to "Cancel Friend Request", friendship, :method => :delete %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<!-- /all user's friend -->