<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">	
			<% if flash[:notice] %>
			<div class="notice">
				<h3 class="page-header"><%= flash[:notice] %></h3>
			</div>
			<% end %>
			<div class="row placeholders">
				<div class="span4 offset6 right" id="search-container">
					<%= render partial: "search" %>
					<% if @search_results.present? %>
					<%= render partial: "search_results" %>
					<% end %>
				</div>
			</div>
			<h1 class="page-header">Manage Friends</h1>
		</div>
	</div>
	<% if @mutual_friendships.any? %>
		<%= render partial: "friendships" %>
	<% end %>
	<%= render partial: "following" %>
	<% if @incoming_requests.any? %>
		<%= render partial: "followers" %>
	<% end %>
	<%# render partial: "users/all" %>
</div>
</div>




</div>