= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCOyQtlbaBQsKX9Q3BGWIl_FVU5MGCKguM"

%div.col-sm-12
%div#map_canvas.col-sm-1

%ul
-@places.each do |place|
  %li= place.address

<<<<<<< HEAD
%button.btn.btn-danger.btn-lg Add a Place
	
=======
%a.btn.btn-danger.btn-lg{:href => '/places/new'}> Add a Place


>>>>>>> 1a196cda1b7ff29b45fe324c76ab38a10a5c9f7d
%script
  = "$(document).ready(function () {"
  - @places.each do |place|
    = "add_marker(#{place.latitude}, #{place.longitude}, '#{place.address}');"
  = "});"

