/ THIS TINY THING CALLS THE WHOLE MAP!
%div#map_canvas.small-map
%div.container
	%h3 Your Places:
	%ul
		-@places.each do |place|
			%li.lead.text-left
				= link_to("#{place.address}", "/places/#{place.id}")


	%a.btn.btn-danger.btn-lg.btn-block{:href => '/places/new'}> Add a Place


%script
	= "$(document).ready(function() {"
	= "showPlaces();"
	= "});"

%script
	= "var dropPins = function () {"
	- @places.each do |place|
		= "add_marker(#{place.latitude}, #{place.longitude});"
	= "};"
