= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCOyQtlbaBQsKX9Q3BGWIl_FVU5MGCKguM"

%div.col-sm-12
%div#map_canvas.col-lg-1

%ul
-@places.each do |place|
  %li= place.address

%a.btn.btn-danger.btn-lg{:href => '/places/new'}> Add a Place


%script
  = "$(document).ready(function () {"
  - @places.each do |place|
    = "add_marker(#{place.latitude}, #{place.longitude}, '#{place.address}');"
  = "});"

