%div.col-sm-12
%div#map_canvas.col-sm-1

%ul
-@places.each do |place|
  %li
    = link_to("#{place.address}", "/places/#{place.id}")


%a.btn.btn-danger.btn-lg{:href => '/places/new'}> Add a Place

%script
  = "$(document).ready(function() {"
  = "showPlaces();"
  = "});"

%script
  = "$(document).ready(function () {"
  - @places.each do |place|
    = "add_marker(#{place.latitude}, #{place.longitude}, '#{place.address}');"
  = "});"
