%div#map_canvas.small-map
= form_for @place, :remote => true do |f|
  = f.label :address, "Where do you want to go? Add an address!"
  = f.text_field :address, :class => 'form-control', :required => true
  = f.submit :value =>"Add Place", :class => "btn btn-lg btn-danger btn-primary btn-block", :onclick => "location.href='/places';"

%script
  = "$(document).ready(function() {"
  = "showPlaces();"
  = "});"

%script
  = "$(document).ready(function () {"
  - @places.each do |place|
    = "add_marker(#{place.latitude}, #{place.longitude}, '#{place.address}');"
  = "});"