= form_for @place, :remote => true do |f|
  = f.label :address, "Add Yo Place!"
  = f.text_field :address, :class => 'form-control', :required => true
  = f.submit :value =>"Add Place", :class => "btn btn-lg btn-primary btn-block"
%div#map_canvas

%script
  = "$(document).ready(function() {"
  = "showPlaces();"
  = "});"

%script
  = "$(document).ready(function () {"
  - @places.each do |place|
    = "add_marker(#{place.latitude}, #{place.longitude}, '#{place.address}');"
  = "});"