%script
  = "$(document).ready(function () {"
  = "userCompass.userLocation(); userCompass.runCompass();"
  = "});"
%div.container.invisible
  %h1
    =@place.address

  %div
    %h3 Latitude
    %p#location_latitude
      = @place.latitude
    %h3 Longitude
    %p#location_longitude
      = @place.longitude

    %h3
    = @bearing

  %h2.page-header Current Location:
  %p
    Lat:
    %span#user_lat
  %p
    Lng:
    %span#user_lng
  %p
    bearing:
    %span#bearing
  %p
    distance:
    %span#distance
  %p
    heading:
    %span#heading
  %p
    webkit ios accuracy:
    %span#accuracy
  %p
    webkit ios alpha + bearing:
    %span#alphaWithBearing
  %p
    webkit ios alpha(north):
    %span#alpha
  %p
    andriod alpha + bearing:
    %span#webkitAlpha
  %p
    version:
    %span#version
%div.container
  %span#showDistance km
  %div#compassContainer
    %i.fa.fa-arrow-circle-up#compass

