<!DOCTYPE html>
<html>
<head>
  <title>BeroApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr', 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCOyQtlbaBQsKX9Q3BGWIl_FVU5MGCKguM'%>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <!-- Nav Bar -->
  <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Bero.</a>

      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%== smartnav %>
        </ul>
      </div>
  </div>
  <!-- BEGIN Page Content -->
    <%= yield %>
    <!-- below DIV detects the size  of the screen -->
      <!-- <div id="desktopTest" class="hidden-xs"></div> -->
  </div>
</div>
<!-- Footer -->

</div>
</body>
</html>
