<!DOCTYPE html>
<html>
<head>
  <title>BeroApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr', 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Fixed Nav Bar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Bero</a>
      
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%== smartnav %>
        </ul>
      </div>
    <!-- /container -->
    </div>
  </div>
  <!-- BEGIN Page Content -->
  <div class="container">
    <%= yield %>
  </div>
  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <p class="text-muted">Team RBF - WDI5</p>
    </div>
    
  </div>
</body>
</html>
